/* global styles */
h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin-top: 10px;

}

h2 {
  fost-size:2.2em;
  line-height: 1.3em;
}

p {
  font-family: "Roboto" sans-serif;
  font-weight: 300;
  font-size: 1em;
}

.color-text-white {
  color: #ffffff;
}

.btn-primary {
  border: 0px;
  background-color: #6c547d;
}

.btn-primary:hover {
  background: #8a69a2;
}

/* nav */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
}

.navbar-default {
  background: #000000;
}

.navbar-brand {
  padding-top: 12px;
}

.navbar-brand h1 {
  color: #ffffff;
  font-family: "Oswald" sans-serif;
  margin-top: 0;
  font-size: 26px;
  transition: color .1s ease-in;
}

.navbar-brand h1:hover {
  color: #c72c72;
}

/* homepage jumbotron */
.jumbotron {
  margin-bottom: 0;
}

.home-jumbotron {
  background: rgba(36,151,163);
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  text-align: center;
}

.city-img {
  transition: all .4s ease-out;
}

.city-img :hover {
  padding-bottom: 30px;
}

.section-two {
  background: #000000;
  padding-top: 60px;
  padding-bottom: 60px;
}

.top-para {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 60px;
}

.fas {
  font-size: 30px;

}

.section-three {
  background: #EFE655;
  padding-top: 60px;
  padding-bottom: 60px;
}

.single-rocket {
  text-align: center;
}

@media (max-width: 991px) and (min-width: 768px)
.visible-sm-block {
    display: block!important;
}

.contact-hero {
  /* background: #EFE655; */
  background-image: url("../img/contact-bg.jpg");
  background-attachment: fixed;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.overlay-yellow:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background:rgba(238,229,85,0.95);
}

/* footer section */

.footer-section {
  background: #030116;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
}

.footer-social {
  text-align: center;

}

.fab {
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.footer-social a {
  color:#c72c72;
}

.footer-social a:hover {
  color:#ffffff;
}

/* sm screen */
@media (min-width:768px) {
  .home-jumbotron {
    min-height: 100vh - 50px;
  }
}

/* md screen */
@media (min-width:992px) {
.home-jumbotron {
  text-align: left;
}

.home-jumbotron-left {
  padding-top: 100px;
}

.footer-social {
    text-align: left;
  }
}

/* lg screen */
@media (min-width:1200px) {

}
